// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /**
  Colores principales
  **/

  --ion-color-fondo: #6C787F;
  --ion-color-fondo-rgb: 108,120,127;
  --ion-color-fondo-contrast: #ffffff;
  --ion-color-fondo-contrast-rgb: 255,255,255;
  --ion-color-fondo-shade: #5f6a70;
  --ion-color-fondo-tint: #7b868c;

  --ion-color-texto: #004E7F;
  --ion-color-texto-rgb: 0,78,127;
  --ion-color-texto-contrast: #ffffff;
  --ion-color-texto-contrast-rgb: 255,255,255;
  --ion-color-texto-shade: #004570;
  --ion-color-texto-tint: #1a608c;

  --ion-color-fondoSecundario: #007DCC;
  --ion-color-fondoSecundario-rgb: 0,125,204;
  --ion-color-fondoSecundario-contrast: #ffffff;
  --ion-color-fondoSecundario-contrast-rgb: 255,255,255;
  --ion-color-fondoSecundario-shade: #006eb4;
  --ion-color-fondoSecundario-tint: #1a8ad1;

  --ion-color-encabezado: #009CFF;
  --ion-color-encabezado-rgb: 0,156,255;
  --ion-color-encabezado-contrast: #ffffff;
  --ion-color-encabezado-contrast-rgb: 255,255,255;
  --ion-color-encabezado-shade: #0089e0;
  --ion-color-encabezado-tint: #1aa6ff;

  --ion-color-footer: #4CBAFF;
  --ion-color-footer-rgb: 76,186,255;
  --ion-color-footer-contrast: #000000;
  --ion-color-footer-contrast-rgb: 0,0,0;
  --ion-color-footer-shade: #43a4e0;
  --ion-color-footer-tint: #5ec1ff;

}

.ion-color-fondo {
  --ion-color-fondo: var(--ion-color-fondo) !important;
  --ion-color-fondo-rgb: var(--ion-color-fondo-rgb) !important;
  --ion-color-fondo-contrast: var(--ion-color-fondo-contrast) !important;
  --ion-color-fondo-contrast-rgb: var(--ion-color-fondo-contrast-rgb) !important ;
  --ion-color-fondo-shade: var(--ion-color-fondo-shade) !important;
  --ion-color-fondo-tint: var(--ion-color-fondo-tint) !important;
}

.ion-color-texto {
  --ion-color-texto: var(--ion-color-texto) !important;
  --ion-color-texto-rgb: var(--ion-color-texto-rgb) !important;
  --ion-color-texto-contrast: var(--ion-color-texto-contrast) !important;
  --ion-color-texto-contrast-rgb: var(--ion-color-texto-contrast-rgb) !important ;
  --ion-color-texto-shade: var(--ion-color-texto-shade) !important;
  --ion-color-texto-tint: var(--ion-color-texto-tint) !important;
}

.ion-color-fondoSecundario {
  --ion-color-fondoSecundario: var(--ion-color-fondoSecundario) !important;
  --ion-color-fondoSecundario-rgb: var(--ion-color-fondoSecundario-rgb) !important;
  --ion-color-fondoSecundario-contrast: var(--ion-color-fondoSecundario-contrast) !important;
  --ion-color-fondoSecundario-contrast-rgb: var(--ion-color-fondoSecundario-contrast-rgb) !important ;
  --ion-color-fondoSecundario-shade: var(--ion-color-fondoSecundario-shade) !important;
  --ion-color-fondoSecundario-tint: var(--ion-color-fondoSecundario-tint) !important;
}

.ion-color-encabezado {
  --ion-color-encabezado: var(--ion-color-encabezado) !important;
  --ion-color-encabezado-rgb: var(--ion-color-encabezado-rgb) !important;
  --ion-color-encabezado-contrast: var(--ion-color-encabezado-contrast) !important;
  --ion-color-encabezado-contrast-rgb: var(--ion-color-encabezado-contrast-rgb) !important ;
  --ion-color-encabezado-shade: var(--ion-color-encabezado-shade) !important;
  --ion-color-encabezado-tint: var(--ion-color-encabezado-tint) !important;
}

.ion-color-footer {
  --ion-color-footer: var(--ion-color-footer) !important;
  --ion-color-footer-rgb: var(--ion-color-footer-rgb) !important;
  --ion-color-footer-contrast: var(--ion-color-footer-contrast) !important;
  --ion-color-footer-contrast-rgb: var(--ion-color-footer-contrast-rgb) !important ;
  --ion-color-footer-shade: var(--ion-color-footer-shade) !important;
  --ion-color-footer-tint: var(--ion-color-footer-tint) !important;
}


