<ion-menu side="start" menuId="menuPrincipal"
contentId="main" color="dark">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Lista de compras</ion-title>
      <ion-avatar>
        <img src="../../../assets/shapes.svg" alt="">
      </ion-avatar>
    </ion-toolbar>
  </ion-header>
  <ion-content color="dark">
    <ion-list>
      <ion-menu-toggle *ngFor="let menu of menuOpts | async">
          <ion-item  [routerLink]="menu.redirectTo" routerLinkActive="router-link-active" color="dark">
        <ion-icon slot="start" [name]="menu.icon"></ion-icon>
        <ion-label>{{ menu.name }}</ion-label>      
      </ion-item>
      </ion-menu-toggle>    
    
    </ion-list>
  </ion-content>
</ion-menu>